<div class="container mt-4">
  <div class="card p-4 shadow mb-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <h1>Create Task</h1>
      </div>
    </div>

    <!-- ngform is for resetting evrthing- it checks if form is valid, were touched, dirty, reset and get all form values -->
    <form (ngSubmit)="saveTask()" #taskForm="ngForm">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">
            Client Type
            <span style="color:red">*</span>
          </label>
          <select class="form-select" [(ngModel)]="task.clientCategoryId" 
          name="clientCategoryId" (change)="onClientTypeChange()">
            <option [ngValue]="0">Select Client Type</option>
            <option *ngFor="let type of clientTypes" 
            [ngValue]="type.id">
              {{type.name}}
            </option>
          </select>
        </div>

        <div class="col-md-6" *ngIf="task.clientCategoryId==2">
          <label class="form-label">
            Client
          </label>

          <ng-select
              [items]="clients"
              bindLabel="clientName"
              bindValue="clientId"
              [(ngModel)]="selectedClientId"
              name="selectedClientId"
              [loading]="clientsLoading"
              [typeahead]="clientInput$"
              placeholder="Search client..."
              [searchable]="true"
              [clearable]="true"
              [appendTo]="'body'"
              (change)="onClientChange()"
          >
          </ng-select>
        </div>
        <div class="col-md-6">
          <label class="form-label" for="clientName">
            Client Name <span class="required" style="color: red;">*</span>
          </label>
          <input id="clientName" name="clientName" type="text" class="form-control" [(ngModel)]="task.clientName"
            [readonly]="isExistingClient" placeholder="Enter client name" required />
        </div>

        <div class="col-md-6">
          <label class="form-label" for="phoneNumber">Phone Number
            <span class="required" style="color: red;">*</span></label>
          <input id="phoneNumber" name="phoneNumber" type="tel" class="form-control" [(ngModel)]="task.phoneNumber"
            placeholder="111-222-3333" [readonly]="isExistingClient" required />
        </div>

        <div class="col-md-6">
          <label class="form-label" for="email">Email
            <span class="required" style="color: red;">*</span></label>
          <input id="email" name="email" type="email" class="form-control" [(ngModel)]="task.email"
            placeholder="example@gmail.com" [readonly]="isExistingClient" required />
        </div>

        <div class="col-md-6">
          <label class="form-label" for="assignedTo">
            Assign To <span class="required" style="color: red;">*</span></label>
         
           <ng-select
              [items]="users"
              bindLabel="name"
              bindValue="id"
              [(ngModel)]="task.assignedToId"
              name="assignedToId"
              [loading]="usersLoading"
              [typeahead]="userInput$"
              placeholder="Search employee..."
              [searchable]="true"
              [clearable]="true"
              [appendTo]="'body'"
          >
          </ng-select>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="status">Status
            <span class="required" style="color: red;">*</span></label>
          <select id="status" name="statusId" class="form-select" [(ngModel)]="task.statusId">
            <option [ngValue]="0">Choose status</option>
            <option *ngFor="let option of statuses" [ngValue]="option.id">{{ option.name }}</option>
          </select>
        </div>

        <div class="col-12">
          <label class="form-label" for="task_Description">Task Description
            <span class="required" style="color: red;">*</span></label>
          <textarea id="task_Description" name="task_Description" class="form-control"
            [(ngModel)]="task.task_Description" rows="4" placeholder="Describe the task" required></textarea>
        </div>

        <div class="col-md-4">
          <label class="form-label" for="priority">Priority
            <span class="required" style="color: red;">*</span></label>
          <select id="priority" name="priorityId" class="form-select" [(ngModel)]="task.priorityId">
            <option [ngValue]="0">Choose priority</option>
            <option *ngFor="let option of priorities" [ngValue]="option.id">{{ option.name }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <label class="form-label" for="serviceCategory">Service Category
            <span class="required" style="color: red;">*</span>
          </label>
          <select id="serviceCategory" name="serviceCategoryId" class="form-select"
            [(ngModel)]="task.serviceCategoryId">
            <option [ngValue]="0">Choose service category</option>
            <option *ngFor="let option of serviceCategories" [ngValue]="option.id" >{{ option.name }}</option>
          </select>
        </div>

        <div class="col-md-4">

          <label class="form-label" for="dueDate">Due Date
            <span class="required" style="color: red;">*</span>
          </label>
          <input id="dueDate" name="dueDate" type="date" class="form-control" [(ngModel)]="task.dueDate" required />
        </div>

        <div class="col-md-6">
          <label class="form-label" for="createdOn">Created On
            <span class="required" style="color: red;">*</span></label>
          <!-- </label> -->
          <input id="createdOn" type="date-local" class="form-control" [value]="task.createdOn | date:'yyyy-MM-dd'"
            disabled />
        </div>

        <input type="hidden" name="createdById" [(ngModel)]="task.createdById" />

        <div class="col-12 d-flex gap-2">
          <button type="submit" class="btn btn-primary">Create Task</button>
          <button type="button" class="btn btn-outline-secondary" (click)="resetTask()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>