<div class="container mt-4">
    <div class="card p-4 shadow">
        <h3>
            My Profile
        </h3>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" [(ngModel)]="name" [disabled]="!editMode">
        </div>
        
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" [disabled]="!editMode">
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <input type="text" id="role" class="form-control" [(ngModel)]="role" [disabled]="true">
        </div>
        <div class="d-flex gap-2">
            <button *ngIf="!editMode" type="button" class="btn btn-secondary" (click)="edit()">Edit</button>
            <button *ngIf="editMode" type="button" class="btn btn-primary" (click)="save()">Save</button>
            <button *ngIf="!editMode" type="button" class="btn btn-outline-secondary" (click)="back()">Back</button>
            <button *ngIf="editMode" type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>
<!-- btn-primary    Blue -->
<!-- btn-secondary  Gray -->
<!-- btn-success    Green -->
<!-- btn-danger     Red -->
<!-- btn-warning    Yellow -->
<!-- btn-info       Light blue -->
<!-- btn-light      White -->
<!-- btn-dark       Black -->
<!-- btn-outline-primary -->
<!-- btn-outline-success -->
<!-- btn-outline-danger -->