<div class="comments-root">

  <div class="messages">

    <div *ngFor="let m of messages" class="message">

      <div class="meta">
        <strong>
          {{ m.authorName || 'User' }}
        </strong>

        <span class="ts">
          {{ m.createdAt | date:'short' }}
        </span>
      </div>


      <div class="body">
        {{ m.text }}
      </div>

    </div>

  </div>


  <div class="composer">

    <textarea
      [(ngModel)]="newText"
      placeholder="Write a comment...">
    </textarea>


    <button 
      (click)="send()">
      Send
    </button>

  </div>

</div>