<div class="auth-card">

    <h2 class="auth-title">Login</h2>

    <p class="auth-subtitle">
        Welcome Back! Please Sign in to continue.
    </p>

    <!-- Email -->
    <div class="mb-3">
        <input
            type="email"
            class="form-control"
            [(ngModel)]="email"
            (blur)="validateEmail()"
            placeholder="employee@careinsurance.ca"
            required>

        <span class="error-message" *ngIf="emailError">
            {{ emailError }}
        </span>
    </div>

    <!-- Password -->
    <div class="mb-2">
        <input
            type="password"
            class="form-control"
            [(ngModel)]="password"
            (blur)="validatePassword()"
            placeholder="Password"
            required>

        <span class="error-message" *ngIf="passwordError">
            {{ passwordError }}
        </span>
    </div>

    <!-- Login Button -->
    <button
        class="auth-btn"
        (click)="onSubmit()">

        Login

    </button>

    <!-- Forgot Password -->
    <a
        routerLink="/forgotpassword"
        class="auth-link">

        Forgot Password?

    </a>

</div>