<aside class="simple-sidebar">
    <div class="sidebar-header">
        <div class="sb-header">Menu</div>
    </div>
    <nav>
        <a routerLink="/main/dashboard">
                <i class="bi bi-speedometer2"></i>
                    Dashboard
        </a>
        <a *ngIf="role==='Admin' || role==='SuperAdmin'" routerLink="/main/task-report">
            <i class="bi bi-bar-chart"></i>
            Reports</a>
        <a routerLink="/main/clientlist">
            <i class="bi bi-people"></i>
            Client List
        </a>
        <a *ngIf="role==='Admin' || role==='Employee'" routerLink="/main/create-task">
            <i class="bi bi-plus-square"></i>
            Create Task
        </a>
        <a *ngIf="role==='Admin' || role==='SuperAdmin'" routerLink="/main/employee-management" routerLinkActive="active">
            <i class="bi bi-person-badge"></i>
            Employee Management
        </a>
    </nav>
</aside>